.first_nav{
  width: 100%;
  background-color: aliceblue;
  position: fixed;
  z-index: 1;
}
.first_nav .nav {
  width: 80%;
  display: flex;
  padding: 20px 0;
  left: 10%;
  position: relative;
}
.first_nav .nav .logo {
  width: 50%;
  display: flex;
  cursor: pointer;
}
.first_nav .nav .logo_img {
  margin-left: 20px;
}
.first_nav .nav .logo .logo_text {
  margin-left: 20px;
  font-size: 25px;
}
.first_nav .nav .menu_tab {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.first_nav .nav .menu_tab .menu_name {
  font-size: 25px;
  cursor: pointer;
}
.menu_tab:hover .sub_menu{
  height: 170px;
}
.sub_menu{
  height: 0;
  overflow: hidden;
}
.sub_menu .sub_menu_name{
  font-size: 17px;
  margin:5px 0;
  font-weight: 500;
}
.sub_menu .sub_menu_name:hover{
  color: blue;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  .nav {
    width: 100%;
    padding: 20px 0;
    position: fixed;
  }
  .nav .logo {
    width: 40%;
  }
  .nav .logo .logo_img > img {
    width: 15px;
  }
  .nav .logo .logo_text {
    margin-left: 10px;
    font-size: 13px;
  }
  .nav .menu_tab {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .nav .menu_tab .menu_name {
    font-size: 13px;
  }
}
@media screen and (min-width: 481px) and (max-width:768px) {

}
@media screen and (min-width: 769px) and (max-width:1279px) {

}
@media screen and (max-width:1280px) {

}
