.snsnav {
  width: 7%;
  height: 550px;
  top: 50%;
  left: 80%;
  position: absolute;
}
.snsnav .inner {
  width: 100%;
}
.snsnav .inner .insta,
.snsnav .inner .blog {
  width: 100%;
}
.snsnav .inner .insta > a > img,
.snsnav .inner .blog > a > img,
.snsnav .inner .top >button {
  width: 100%;
  object-fit: cover;
}
