
/*
.snsnav {
  width: 7%;
  top: 50%;
  left: 80%;
  position: relative;
}
.snsnav .inner {
  width: 100%;
  backdrop-filter: blur(1.5px);
  background-color: cornsilk;
  opacity: 0.8;
  border-radius: 10px;
  position: sticky;
}
.snsnav .inner .insta,
.snsnav .inner .blog {
  width: 100%;
}
.snsnav .inner .insta > a > img,
.snsnav .inner .blog > a > img,
.snsnav .inner .top > button {
  width: 100%;
  object-fit: cover;
}
*/

.right-nav {
  margin-right : 1%;
    position: fixed;
    top: 60%;
    right: 0;
    width: 7%;
    height: 30%;
    background-color: #f8f9fa; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    transform: translateY(-50%); 
    border-radius: 10%;
}


.right-nav .insta,
.right-nav .blog {
  width: 100%;
  
}
.right-nav .insta > a > img,
.right-nav .blog > a > img,
.right-nav .top > button {
  width: 100%;
  object-fit: cover;
}