.map_1{
	margin: 0 auto;
	padding: 15px 0;
	max-width: 1200px;
}
.map_1 .map_title{
	font-size: 25px;
	font-weight: 550;
	padding-bottom: 15px;
}
.map_1 .top{
    width: 50px;
    height: 50px;
    border-radius: 100px;
	border: none;
    align-items: end;
}