
#nav_title1 >img{
    width: 60%;
    transform: translate(35%);
}
#nav_title2{
    width: 100%;
}
#nav_title3 .place_img{
    display: flex;
}
#nav_title3 .place_img .place{
    width: 60%;
    transform: translate(35%);
}
#nav_title4{
    width: 100%;
}
@media screen and (max-width: 480px) {
    #nav_title1 > img{
      width: 100%;
      transform: translate(0);
    }
  }
  